:root {
    --agua-sin-tocar: darkgray;
    --agua-tocado: aquamarine;
    --portaaviones: orange;
    --submarino: forestgreen;
    --lancha: crimson;
    --fragata: darkorchid;
    --barco-tocado: #fafafa;
    --barco-hundido: black;
}

.agua.tocado {
    background-color: var(--agua-tocado);
}
.agua {
    background-color: var(--agua-sin-tocar);
}

.portaaviones, .submarino, .lancha, .fragata, .agua {
    position: relative;
}

.portaaviones {
    background-color: var(--portaaviones);
}

.submarino {
    background-color: var(--submarino);
}

.lancha {
    background-color: var(--lancha);
}

.fragata {
    background-color: var(--fragata);
}

.agua.tocado {
    background-color: var(--agua-tocado);
}

.portaaviones.tocado::after, .submarino.tocado::after, .lancha.tocado::after, .fragata.tocado::after {
    content: "";
    position: absolute;
    width: 45%;
    height: 45%;
    top : 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--barco-tocado);    
}

.hundido::after {
    background-color: var(--barco-hundido) !important;
}

.radio-barco:hover {
    cursor: pointer;
}

.radio-barco.portaaviones {
    color: var(--portaaviones);
}

/* select the input radio in .radio-barco is a label */
.radio-barco.portaaviones input[type="radio"] {
    /* set colors to radio */
    background-color: var(--portaaviones);
}

.radio-barco.submarino {
    color: var(--submarino);
}

.radio-barco.lancha {
    color: var(--lancha);
}

.radio-barco.fragata {
    color: var(--fragata);
}

.radio-barco {
    background-color: transparent;
}