.tablero {
    display: grid;
    grid-template-columns: repeat(10, clamp(1.5rem, 2vw, 2.5vw));
    grid-template-rows: repeat(10, clamp(1.5rem, 2vw, 2.5vw));
    gap: clamp(0.75rem, 1vw, 1rem);
    margin: 2rem;
}

.tableros {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: auto;
}
