.casilla-sin-disparar {
    background-color: darkgrey;
}

.casilla-barco-tocado {
    background-color: goldenrod;
}

.casilla-nada {
    background-color: #fff;
}

.casilla-barco-hundido {
    background-color: crimson;
}

.clickeable {
    cursor: pointer;
}