.agua {
    background-color: #fafafa;
}

.barco {
    background-color: crimson;
    position: relative;
}

.barco.tocado::after{
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    top : 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: orange;    
}

.tablero.preparacion > div {
    cursor: pointer;
}